# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv/

.vscode/

benchmark_data/*
openevolve_output/*

# python coverage report
.coverage

# Output of pack command itself
output.txt
